
table{
        width: 100%;
        border-collapse: collapse;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.thead{
        background-color: black;
        color: white;
}
th{
        flex-direction: row;
        text-align: left;
        align-items: flex-start;
        padding: 8px 16px;
        gap: 10px;
        width: 222px;
        height: 36px;
        background: #111111;
        box-shadow: inset 0px -1px 0px #111111;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
}


td{
        flex-direction: row;
        align-items: flex-start;
        padding: 8px 16px;
        gap: 10px;
        width: 222px;
        height: 36px;
        background: #FFFFFF;
        box-shadow: inset 0px -1px 0px rgba(17, 17, 17, 0.08);
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
}
.th{
        flex-direction: row;
        align-items: flex-start;
        padding: 8px 16px;
        gap: 10px;
        width: 102px;
        height: 36px;
        background: #111111;
        box-shadow: inset 0px -1px 0px #111111;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
}
.td{
        flex-direction: row;
        align-items: flex-start;
        padding: 8px 16px;
        gap: 10px;
        width: 102px;
        height: 36px;
        background: #FFFFFF;
        box-shadow: inset 0px -1px 0px rgba(17, 17, 17, 0.08);
        flex: none;
        order: 2;
        align-self: stretch;
        flex-grow: 0;
}